body {
    font-family: Arial, sans-serif;
    margin: 1;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #bc6d6d;
    color: rgb(139, 27, 27);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #d6d6d6 5%, #f6f6f6 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#616161;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    
}

nav ul li a {
    color: rgb(160, 108, 108);
    text-decoration: none;
}

section {
    margin: 20px;
    padding: 20px;
    background: rgb(213, 213, 213);
    border-radius: 5px;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #443939;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


footer {
    text-align: center;
    padding: 20px;
}

